html, body, #root{
  min-height:100vh;
}

p, h1, h2, h3, h4, h5, h6{
  margin:0;
}

.body{
  display: flex;
  flex-direction: column;
}

.flex-container {
  display:flex;
  flex-direction: column;
  height:100vh;
}

.header{
  flex:0 0 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom:1px solid gray;
}

.logo{
  position: absolute;
  left: 0;
}

.logo h2{
  margin-left:5px;
}

.main{
  flex-grow:1;
}

.nav{
  position:fixed;
  bottom:0;
  height: 10vh;
  width: 100%;
  border-top: 1px solid gray;
  background-color: #222222;
  color:#999;
}

.nav ul{
  display: flex;
  list-style: none;
  padding:0;
  margin:0;
  height:100%;
}

.nav ul li{
  align-self: stretch;
  display: flex;
  align-items: center;
  flex:1;
  justify-content: center;
}

.nav ul li{
  border-right:1px solid gray;
}

.nav ul li:last-child{
  border-right:none;
}

@media (min-width: 768px){
  .flex-container{
    flex-direction: row;
  }

  .logo{
    position: inherit;
    flex: 1;
    align-self: stretch;
    background-color: #222222;
    color: white;
    display: flex;
    align-items: center;
  }

  .appName{
    flex:8;
    display: flex;
    justify-content: center;
  }

  .main{
    border-bottom:none;
    flex:8;
  }

  .nav{
    position: inherit;
    bottom: initial;
    height: 100%;
    width: initial;
    border-top:none;
    order:-1;
    flex:1;
  }

  .nav ul{
    flex-direction: column;
    border-right:1px solid gray;
  }

  .nav ul li{
    align-self: flex-start;
    display: initial;
    align-self: stretch;
    border-right:none;
    padding:10px 0 10px 5px;
    flex-grow:0;
  }

  .nav ul li:hover{
    background-color: rgba(0,0,0,.5);
    color:white;
  }
}